version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 bookStore.wsgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: redis_broker
    expose:
      - 6379

  celery:
    build: .
    container_name: celery_worker
    command: celery -A bookStore worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - web
      - redis
      - db
    env_file:
      - .env

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

volumes:
  postgres_data: